on:
  workflow_call: 
    inputs:
      version:
        description: 'Version to deploy'
        required: true
        type: string
      checkout-ref:
        description: 'The commit SHA to checkout' 
        required: true
        type: string
    
jobs:
  push-container:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Lowercase Tag
        id: lowercase_tag
        env:
          REPOSITORY_OWNER: ${{ github.repository_owner }}
        run: |
          echo "repo_owner=$(echo $REPOSITORY_OWNER | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          echo "container_name=$(echo 'AppSettings.Merge' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          
      - name: Build and push Docker image
        # Using commit from v2 era - AC9327EAE2B366085AC7F6A2D02DF8AA8EAD720A  
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: .
          file: ./src/BlazorMerge/Dockerfile
          push: true
          tags: ghcr.io/${{ env.repo_owner }}/${{ env.container_name }}:${{ inputs.version }}