on:
  workflow_call:
    inputs:
      static-build:
        description: 'Should the build number come from the semver.json file?'
        type: boolean
        required: false
        default: false
    outputs:
      version:
        description: 'The version of the app'
        value: ${{ jobs.version-number.outputs.version }}
      major:
        description: 'The major version of the app'
        value: ${{ jobs.version-number.outputs.major }}
      minor:
        description: 'The minor version of the app'
        value: ${{ jobs.version-number.outputs.minor }}
      patch:
        description: 'The patch version of the app'
        value: ${{ jobs.version-number.outputs.patch }}
      build:
        description: 'The patch version of the app'
        value: ${{ jobs.version-number.outputs.build }}

jobs:
  version-number:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set-version.outputs.version }}
      major: ${{ steps.set-version.outputs.major }}
      minor: ${{ steps.set-version.outputs.minor }}
      patch: ${{ steps.set-version.outputs.patch }}
      build: ${{ steps.set-version.outputs.build }}
    steps:
      - name: Get Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Get Version
        id: get-version
        uses: Afterlife-Guide/SemVer.Action@288a02559813fbd67393b5bd001cd796f1665905
        with:
          path: 'semver.json'
      - id: set-version
        env:
          MAJOR: ${{ steps.get-version.outputs.major }}
          MINOR: ${{ steps.get-version.outputs.minor }}
          PATCH: ${{ steps.get-version.outputs.patch }}
          BUILD: ${{ steps.get-version.outputs.build }}
          RUN_NUMBER: ${{ github.run_number }}
          STATIC_BUILD: ${{ inputs.static-build }}
        run: |
          echo "major=$MAJOR" >> $GITHUB_OUTPUT
          echo "minor=$MINOR" >> $GITHUB_OUTPUT
          echo "patch=$PATCH" >> $GITHUB_OUTPUT
          
          if [ "$STATIC_BUILD" == true ]; then
            echo "version=$MAJOR.$MINOR.$PATCH.$BUILD" >> $GITHUB_OUTPUT
            echo "build=$BUILD" >> $GITHUB_OUTPUT
          else
            echo "version=$MAJOR.$MINOR.$PATCH.$RUN_NUMBER" >> $GITHUB_OUTPUT
            echo "build=$RUN_NUMBER" >> $GITHUB_OUTPUT
          fi